.container1 {
    text-align: left;
    padding : 10p;
}
.container {
    text-align: center;
    padding : 200px;
}
.content {
    text-align: centre;
}
.container2 {
    text-align: center;
}

body {
    margin: 0 auto;
    max-width: 800px;
    padding: 0 20px;
}
.container1 {
    text-align: left;
    padding : 10p;            
}
.container {
    border: 2px solid #dedede;
    background-color: #f1f1f1;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
}

.darker {
    border-color: #ccc;
    background-color: #ddd;
}

.container::after {
    content: "";
    clear: both;
    display: table;
}
